* {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    font-weight: 400;
    font-style: normal;

}

body {

    color: brown;

}

main {

    background-color: chartreuse;
    

}